<?php
//echo $this->renderElement('menuinterno',$datos_menu);
?>
<br />
<script type="text/JavaScript" src="<? echo RUTA_JAVASCRIPT_ROOT;?>prototype.js"></script>
<script type="text/JavaScript" src="<? echo RUTA_JAVASCRIPT_ROOT;?>seguridad/sha1.js"></script>
<script language="javascript" type="text/javascript">
		function modificar(nombrediv,url,id){
	 // alert ('El registro ha sido Modificado');		
	  var ajx = new Ajax.Updater(""+nombrediv,""+url+id, {asynchronous:true, evalScripts:true});
	}
</script>
<style type="text/css">
    div.error_message {background-color:#FFE8E8;border:1px solid red;padding:4px;margin:2px}
</style>	
<script type="text/JavaScript" src="<? echo RUTA_JAVASCRIPT_ROOT;?>validarvacios.js"></script>

<script language="javascript" type="text/javascript">

function Validar(){
		 var objetoform = document.frm;
	 	if (validarnoiguales(objetoform.UsuarioClave4,objetoform.UsuarioClave.value,"Las Contraseñas actual no es correcta")=='F'){
		return false;}else
	 	if (validarnoiguales(objetoform.UsuarioClave2,objetoform.UsuarioClave1.value,"Las Contraseñas no son iguales")=='F'){
		return false;}else
		{
			objetoform.UsuarioClave1.value = "";
			objetoform.UsuarioClave2.value = "";
			objetoform.UsuarioClave4.value = "";

			document.frm.submit();
		}  
}
</script>		
<h1 class="logo2"><a  href=""></a></h1>
<?php echo $form->create('Usuario', array('action' => 'cambioclave','name' => 'frm','id'=>'frm','class'=>'wufoo')); ?>
<?php  echo $form->input('Usuario.id', array('type'=>'hidden')); ?>		

<? //print_r ($this->data)?>	
<fieldset id="personal" >
<legend><label> CAMBIAR CLAVE DE USUARIO</label></legend>

<table>
	<tr>
		<td><label>Empleado:</label></td>
		<td>
				<?  	
 $i=1;
 foreach ($data_empleado as $row) {
	$item = $row['Empleado'];	
	$var[$item['id']]=$item['nombre'];
	$i=$i+1;
	}
?>
<?php echo $form->input('Usuario.empleado_id', array('size'=>'40','label'=>'','options'=>$var,'type'=>'select','size'=>'1')) ?>
				

		</td>
	</tr>
	<tr>
		<td><label>Perfil:</label></td>
		<td>
				<?  	
 $i=1;
 foreach ($data_perfiles as $row) {
	$item = $row['Perfile'];	
	$var2[$item['id']]=$item['descripcion'];
	$i=$i+1;
	}
?>
<?php echo $form->input('Usuario.perfile_id', array('size'=>'40','label'=>'','options'=>$var2,'type'=>'select','size'=>'1')) ?>				

		</td>
	</tr>			

	<tr>
		<td><label>Usuario:</label></td>
		<td> 		<?php echo $form->input('Usuario.usuario', array('size' => 20,'type' =>'text','label' =>'','readonly'=>'true'));?>

		</td>
	</tr>
	<tr>
		<td><label>Escriba Contrase&ntilde;a Actual:</label></td>
		<td> 		<?php echo $form->password('Usuario.claveactual', array('size' =>20,'type'=>'password','onKeyUp'=>'UsuarioClave4.value = hex_sha1(UsuarioClaveactual.value)')); ?>
			<input type="hidden" name="data[Usuario][clave4]" id="UsuarioClave4">	
			<?php  echo $form->input('Usuario.clave', array('type'=>'hidden')); ?>
		</td>
	</tr>		
	<tr>
		<td><label>Contrase&ntilde;a Nueva:</label></td>
		<td> 		<?php echo $form->password('Usuario.clave2', array('size' =>20,'type'=>'password','onKeyUp'=>'UsuarioClavenueva.value = hex_sha1(UsuarioClave2.value)')); ?>
			<input type="hidden" name="data[Usuario][clavenueva]" id="UsuarioClavenueva">	
		</td>
	</tr>
	<tr>
		<td><label>Repita Contrase&ntilde;a Nueva:</label></td>
		<td><?php echo $form->password('Usuario.clave1', array('size' =>20,'type'=>'password','onKeyUp'=>'UsuarioClavenueva2.value = hex_sha1(UsuarioClave1.value)')); ?>
			<input type="hidden" name="data[Usuario][clavenueva2]" id="UsuarioClavenueva2">	</td>
	</tr>		
</table>
<fieldset id="acciones" style="background-color: rgb(242, 242, 242);">
<legend><strong>Acciones</strong></legend>
<div align="center">
<?php	
	echo $html->image('img_acciones/media-floppy.png',array("onclick"=>"Validar()", "title"=>"Guardar Registro"));
	echo $html->link( $html->image("img_acciones/go-jump.png", array("alt" => "Regresar al listado", "title"=>"Regresar al listado")) ,"/usuarios/home", array('escape'=>false), null);
	echo $html->link( $html->image("img_acciones/users_back.png", array("alt" => "Salir del Sistema", "title"=>"Salir del Sistema")) ,"/usuarios/logout", array('escape'=>false), null);
?>
</div>
</fieldset>

</fieldset>
</form>
