<?php
	//echo $this->element('menuinterno',array($datos_menu));
?>
<p></p>
<form action="" method="post" name="two">
<fieldset style="background-color: rgb(242, 242, 242);">
    <legend >M&oacute;dulo: <?php echo $datos_perfil ?></legend>
	<p>Bienvenido al Sistema</p>
<!-- -->
<?php 
	echo $this->Html->script('acordion/jquery.min'); 
	echo $this->Html->script('acordion/ddaccordion'); 
	echo $this->Html->css(array('panel/glossymenu'));
	/*echo '<pre>';
	print_r($datos_menu);
	echo '</pre>';*/
?>

<script type="text/javascript">


ddaccordion.init({
	headerclass: "submenuheader", //Shared CSS class name of headers group
	contentclass: "submenu", //Shared CSS class name of contents group
	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [], //index of content(s) open by default [index1, index2, etc] [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: true, //persist state of opened contents within browser session?
	toggleclass: ["", ""], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["suffix", '<?php echo $this->Html->image("panel/plus.gif", array("class" => "statusicon"));?>', '<?php echo $this->Html->image("panel/minus.gif", array("class" => "statusicon"));?>'], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})


</script>

<center>
<h2> <?php echo $this->Html->image("img_acciones/apacheconf32.png", array('align'=>"absmiddle", "title"=>"Inicio del Sistema"))?> PANEL DE CONTROL </h2>
 <div class="glossymenu" >
 <?php 
	$i=0;
	$item=0;
	$cod_grupo=0;
	
	foreach ($datos_menu['funciones'] as $menu) {
//Mysql	if ($cod_grupo!=$menu['grupo']['id'])
	if ($cod_grupo!=$menu['0']['id'])
		{
			if ($item!=0){
				echo '</ul>';
				echo '</div>';
			
			}
			$item=$item+1;			
			echo $this->Html->link( $this->Html->image("img_acciones/".$menu['0']['imagen'], array('align'=>"absmiddle", "title"=>"Inicio del Sistema")).'&nbsp;'.$menu['0']['gnombre'] ,"#", array('escape'=>false,'class'=>"menuitem submenuheader"), null);
			echo '<div class="submenu">';
			echo '<ul>';
		}
		
		echo '<li>'.$this->Html->link( $this->Html->image("img_horizontal/format-indent-more.png", array('align'=>"absmiddle", "title"=>"Inicio del Sistema")).'&nbsp;'.$menu['0']['fnombre'] ,"/".$menu['0']['direccion'], array('escape'=>false), null).'</li>';
		$cod_grupo=$menu['0']['id'];
	}
	echo '</ul>';
	echo '</div>';	
?>
</div> 
</center>
<!-- -->	
<fieldset id="acciones" style="background-color: rgb(242, 242, 242);">
<legend><strong>Acciones</strong></legend>
<div align="center">
<?php	
	echo $this->Html->link( $this->Html->image("img_acciones/users_back.png", array("alt" => "Salir del Sistema", "title"=>"Salir del Sistema")) ,"/usuarios/logout", array('escape'=>false), null);
?>
</div>
</fieldset>
  </fieldset>
</form>
