<?php
	//echo $this->element('menu',array('id'=>'2'));
	//echo $html->css('login/style');
	echo $this->Html->css('login/login');
?>
<style type="text/css">
    div.error_message {background-color:#FFE8E8;border:1px solid red;padding:4px;margin:2px}
.login_mensaje{
color:#000000;
}   
</style>
<?php //echo $html->css(array('form/pseudoclasses'));?>
<?php echo $this->Html->script('seguridad/sha1'); ?>
<script language="javascript" type="text/javascript">
function validar(){
	if (document.two.UsuarioUsuario.value=="") {
			 alert("Introduzca el nombre de usuario"); return false; 
	}else if (document.two.UsuarioClave.value=="") {
			 alert("Introduzca la contraseña"); return false; 
	}else {

/*			objetoform.UsuarioClave2.value = "";*/
			document.two.UsuarioClave2.value = "";
			document.two.submit();
	}
//	return true;
}
</script>
<div class="middlePage">
<!-- <div class="page-header"> -->
<div class="header">
  <h2 >COMERDEPA LA 21 C.A. <!--<small style="color:#100802;">Bienvenido!</small> --></h2>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Bienvenido! Por Favor, Inicie Sesi&oacute;n</h3>
  </div>
  <div class="panel-body">
  
  <div class="row">
  
<div class="col-md-4" >
<?php echo $this->Html->image('login/comerdepa.jpg',array("onclick"=>"modificar('buscar','usuarios/buscar/',document.two.TipohectareaBuscarTipo.value);", "title"=>"Buscar Registro",'div'=>false,"align"=>"Absmiddle"));?>
</div>

    <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
<form id="two" name="two" class="form-horizontal" method="POST" action="../usuarios/login">
<fieldset>

 <!-- <input id="textinput" name="textinput" type="text" placeholder="Enter User Name" class="form-control input-md"> -->
  <?php echo $this->Form->input('Usuario.usuario', array('type' =>'text','label' =>'','placeholder'=>"Escriba el Usuario",'div'=>false,'class'=>"form-control input-md"));?>
  <div class="spacing"><!-- <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small> --><br/></div>
  
  <?php echo $this->Form->password('Usuario.clave2', array('size' =>20,'type'=>'password','onKeyUp'=>'UsuarioClave.value = hex_sha1(UsuarioClave2.value)','placeholder'=>"Escriba la Clave",'div'=>false,'class'=>"form-control input-md"));  echo $this->Form->input('Usuario.clave', array('type'=>'hidden')); ?>
  <div class="spacing"><!-- <a href="#"><small> Forgot Password?</small></a> --><br/></div>
 <!-- <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign In</button> -->
  <?php echo $this->Form->submit('Entrar', array('class'=>'btn btn-sm pull-right','onClick' => 'return validar()')); ?>


</fieldset>
</form>
</div>
    
</div>
    
</div>
</div>

<p><a href="#">Realizado por</a> · Ing. Leiban Rivero </p>

</div>
