<?php ?>
 <table summary="Estados encontrados" align="center"  class="" border="1" cellspacing='0'>
			
			<thead>
				<tr>
					<th style="width: 55px;" class="sortfirstdesc sortcol" id="Id" scope="col">Eliminar Modulo</th>
					<th scope="col">Funci&oacute;n</th>
					<th scope="col">Direcci&oacute;n</th>
				</tr>
			</thead>
			<tbody>
    <?php $x=0;$modulos=''; foreach ($data as $row): $configuracion = $row['Configuracion']; ?>    
	
    <? 
     $aux=$modulos;	
     list($modulos,$accion)=split('/',$row['Funcione']['direccion'].'/');     	
     if ($x==0 || $aux!=$modulos ){		

?>
	<tr><td colspan="3">&nbsp;Modulo de <? echo $modulos?></td></tr>
<?
	}?>	
    <? $x++; ?>
	
	<? if($x % 2 == 0){ ?>
	<tr class="roweven">
	<? } else { ?>
	<tr>
	<? } ?>
					<td scope="row" id="AS" align="center">
					<a href="../eliminar/<?= $row['Funcione']['id'];?>-<?= $row['Perfile']['id'];?>" title="Eliminar Modulo" onclick="javascript:return confirm('Esta seguro de borrar el registro?')" ><?php echo $html->image("img_acciones/book_blue_delete.png", array("border"=>0,"align"=>"absmiddle")) ?></a>
					</td>
					<td>
					<?  	
					 echo $row['Funcione']['nombre'];
					?>
					</td>
					<td>
					<?  	
					 echo $row['Funcione']['direccion'];
					?>
					</td>
				</tr>
		    <?php endforeach; ?>		
			</tbody>			
	</table>	
