<div class="title">
    <h4><?php echo $data['Configuracion']['title']; ?></h4>
</div>
<div class="content">
    <p><small>Created: <?php echo $data['Configuracion']['created']; ?></small></p>
    <p><?php echo $data['Configuracion']['body']; ?></p>
</div>
