<fieldset id="personal" >
<legend  class="info"><h2><strong>Cuadre Diario Nro <?php echo $cuadre['Cuadrediario']['nro'];?> de Fecha <?php echo date('d-m-Y',strtotime($cuadre['Cuadrediario']['fecha'])) ;?> </strong></h2></legend>
<!--<table>
	<tr>
		<td><label>Cuadre Nro:</label></td>
		<td> 
		<?php echo $cuadre['Cuadrediario']['nro'];?>		
		</td>
		<td><label>Fecha:</label></td>
		<td> 
		<?php echo date('d-m-Y',strtotime($cuadre['Cuadrediario']['fecha'])) ;?>		
		</td>
</table>-->
</fieldset>
