<?php
$enlace[1]='<span class="glyphicon glyphicon-plus"></span> Creados sin Enviar ('.$sin_enviar.')';$tipo[1]='primary';
$enlace[2]='<span class="glyphicon glyphicon-comment"></span> Pendientes por Revisi&oacute;n ('.$enviado.')';$tipo[2]='primary';
$enlace[3]='<span class="glyphicon glyphicon-check"></span> Pendiente por Aprobaci&oacute;n ('.$poraprobar.')';$tipo[3]='primary';
$enlace[4]='<span class="glyphicon glyphicon-list"></span> Pendiente por Publicaci&oacute;n ('.$porpublicar.')';$tipo[4]='primary';
$enlace[5]='<span class="glyphicon glyphicon-pencil"></span> Recibidos para Revisi&oacute;n ('.$recibido.')';$tipo[5]='primary';
$enlace[6]='<span class="glyphicon glyphicon-chevron-down"></span> Recibidos para Aprobaci&oacute;n ('.$recibido_aprob.')';$tipo[6]='primary';
$enlace[7]='<span class="glyphicon glyphicon-remove"></span> Anulados ('.$anulado.')';$tipo[7]='primary';
if($id=='1'){
	$enlace[1]='<b><span class="glyphicon glyphicon-plus"></span> Creados sin Enviar ('.$sin_enviar.')</b>';$tipo[1]='info';
}elseif($id=='2'){
	$enlace[2]='<b><span class="glyphicon glyphicon-comment"></span> Pendientes por Revisi&oacute;n ('.$enviado.')</b>';$tipo[2]='info';
}elseif($id=='3'){
	$enlace[3]='<b><span class="glyphicon glyphicon-check"></span> Pendiente por Aprobaci&oacute;n ('.$poraprobar.')</b>';$tipo[3]='info';
}elseif($id=='4'){
	$enlace[4]='<b><span class="glyphicon glyphicon-list"></span> Pendiente por Publicaci&oacute;n ('.$porpublicar.')</b>';$tipo[4]='info';
}elseif($id=='5'){
	$enlace[5]='<b><span class="glyphicon glyphicon-pencil"></span> Recibidos para Revisi&oacute;n ('.$recibido.')</b>';$tipo[5]='info';
}elseif($id=='6'){
	$enlace[6]='<b><span class="glyphicon glyphicon-chevron-down"></span> Recibidos para Aprobaci&oacute;n ('.$recibido_aprob.')</b>';$tipo[6]='info';
}elseif($id=='7'){
	$enlace[7]='<b><span class="glyphicon glyphicon-remove"></span> Anulados ('.$anulado.')</b>';$tipo[7]='info';
}
	echo '<div>';
	echo $this->Html->link( ''.$enlace[1],"/documentos", array('escape'=>false,'role'=>"button",'class'=>"btn btn-".$tipo[1]),null);
	echo $this->Html->link( ''.$enlace[2],"/documentos/enviados", array('escape'=>false,'role'=>"button",'class'=>"btn btn-".$tipo[2]),null);
	echo $this->Html->link( ''.$enlace[3],"/documentos/poraprobar", array('escape'=>false,'role'=>"button",'class'=>"btn btn-".$tipo[3]),null);
	echo $this->Html->link( ''.$enlace[4],"/documentos/porpublicar", array('escape'=>false,'role'=>"button",'class'=>"btn btn-".$tipo[4]),null);
	echo '</div>';
	echo '<div>';
	echo $this->Html->link( ''.$enlace[5],"/documentos/recibidos", array('escape'=>false,'role'=>"button",'class'=>"btn btn-".$tipo[5]),null);
	echo $this->Html->link( ''.$enlace[6],"/documentos/recibidosaprobar", array('escape'=>false,'role'=>"button",'class'=>"btn btn-".$tipo[6]),null);
	echo $this->Html->link( ''.$enlace[7],"/documentos/anulados", array('escape'=>false,'role'=>"button",'class'=>"btn btn-".$tipo[7]),null);
	echo '</div>';
	
	
?>
