<?php
	echo $this->Html->script('ddlevelsfiles/ddlevelsmenu');
	echo $this->Html->css('ddlevelsfiles/ddlevelsmenu-base');
	echo $this->Html->css('ddlevelsfiles/ddlevelsmenu-topbar');
	echo $this->Html->css('ddlevelsfiles/ddlevelsmenu-sidebar');	
?>
<!--  -->
<a class="animateddrawer" id="ddtopmenubar-mobiletoggle" href="#">
<span></span>
</a>

<div class="mattblackmenu" id="ddtopmenubar">
<ul>
<?php	
	echo '<li>'.$this->Html->link( $this->Html->image("img_acciones/apacheconf.png", array('align'=>"absmiddle", "title"=>"Inicio del Sistema")).'Panel' ,"/usuarios/home", array('escape'=>false), null).'</li>'; 
	$i=0;
	$item=0;
	$cod_grupo=0;
	//print_r($datos_menu);
	foreach ($datos_menu as $menu) {
//Mysql	if ($cod_grupo!=$menu['grupo']['id'])
	if ($cod_grupo!=$menu['grupo']['id'])
	{
		$item=$item+1;
		echo '<li>'.$this->Html->link( $this->Html->image("img_acciones/".$menu['grupo']['imagen'], array('align'=>"absmiddle", "title"=>"Inicio del Sistema")).'&nbsp;'.$menu['grupo']['gnombre'] ,"#", array('escape'=>false,'rel'=>"ddsubmenu".$item), null).'</li>';
	}
		$cod_grupo=$menu['grupo']['id'];
		$i=$i+1;
	}
?>
</ul>
</div>        
<?php 
	$i=0;
	$item=0;
	$cod_grupo=0;
	foreach ($datos_menu as $menu) {
	if ($cod_grupo!=$menu['grupo']['id']){
		$item=$item+1;
		if ($item>1){
		echo '</div>';
		}

?>		                         
		<ul id="ddsubmenu<?= $item;?>" class="ddsubmenustyle">
<?php
	}
	echo '<li>'.$this->Html->link( $this->Html->image("img_horizontal/format-indent-more.png", array('align'=>"absmiddle", "title"=>"Inicio del Sistema")).'&nbsp;'.$menu['funcion']['fnombre'] ,"/".$menu['funcion']['direccion'], array('escape'=>false), null).'</li>';

		$cod_grupo=$menu['grupo']['id'];
//		$cod_grupo=$menu['0']['id'];

		$i=$i+1;
}
?>
</ul>
<script type="text/javascript">
ddlevelsmenu.setup("ddtopmenubar", "topbar")
//ddlevelsmenu.setup("mainmenuid", "topbar|sidebar")
</script>
<br />
