<!--	<div id="menulinks">
		<? 	echo $html->link( $html->image("menu.php?texto=Inicio&ancho=100&alto=18", array("alt" => "Ir a pagina Principal", "title"=>"Ir a pagina Principal" )) ,"/", array('class'=>"menuitem",'escape'=>false), null, false);?>
		<div class="menuline"></div>
		<? 	echo $html->link( $html->image("menu.php?texto=Recibos&ancho=100&alto=18", array("alt" => "Ir a pagina Principal", "title"=>"Ir a pagina Principal" )) ,"/personas", array('class'=>"menuitem",'escape'=>false), null, false);?>
		<div class="menuline"></div>
		<? 	echo $html->link( $html->image("menu.php?texto=Constancia&ancho=100&alto=18", array("alt" => "Ir a pagina Principal", "title"=>"Ir a pagina Principal" )) ,"/solicitudes/add", array('class'=>"menuitem",'escape'=>false), null, false);?>
		<div class="menuline"></div>
		<? 	echo $html->link( $html->image("menu.php?texto=Contacto&ancho=100&alto=18", array("alt" => "Ir a pagina Principal", "title"=>"Ir a pagina Principal" )) ,"/personas/contacto", array('class'=>"menuitem",'escape'=>false), null, false);?>
	</div> -->
