<?php
$enlace[1]='<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp; P&uacute;blicos &nbsp;&nbsp;';$tipo[1]='primary';
$enlace[2]='<span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp; Mi Oficina &nbsp;&nbsp;';$tipo[2]='primary';
if($id=='1'){
	$enlace[1]='<b><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;  P&uacute;blicos &nbsp;&nbsp;</b>';$tipo[1]='info';
}elseif($id=='2'){
	$enlace[2]='<b><span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp; Mi Oficina &nbsp;&nbsp;</b>';$tipo[2]='info';
}
	echo $this->Html->link( ''.$enlace[1],"/documentos/publicados", array('escape'=>false,'role'=>"button",'class'=>"btn btn-".$tipo[1]),null);?>
<?php	echo $this->Html->link( ''.$enlace[2],"/documentos/publicadosoficinas", array('escape'=>false, 'class'=>"btn btn-".$tipo[2]),null);?>
<br />
