<div class="pure-g">
<div class="pure-u-1-1">	
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item<?php if($id=='1'){echo ' pure-menu-selected';  }?> "><?php	echo $this->Html->link( '<b>P&uacute;blicos</b>',"/documentos/publicados", array('escape'=>false, 'class'=>"pure-menu-link"),null);?></li>
        <li class="pure-menu-item<?php if($id=='2'){echo ' pure-menu-selected';  }?> "><?php	echo $this->Html->link( '<b>Mi Oficina</b>',"/documentos/publicadosoficinas", array('escape'=>false, 'class'=>"pure-menu-link"),null);?></li>
    </ul>
</div>
</div>
</div>

