<?php echo $javascript->link('chromejs/chrome'); ?>
<?php echo $html->css('chrometheme/chromestyle');?>
<!--  -->
<div class="chromestyle" id="chromemenu">
<ul>
 <li><?php	
	echo $html->link( $html->image("img_acciones/apacheconf.png", array('align'=>"absmiddle", "title"=>"Inicio del Sistema")).'Panel' ,"/usuarios/home", array('escape'=>false), null);
?></li>
<? 
	$i=0;
	$item=0;
	$cod_grupo=0;
//	print_r($datos_menu);
	foreach ($datos_menu as $menu) {
//Mysql	if ($cod_grupo!=$menu['grupo']['id'])
	if ($cod_grupo!=$menu['0']['id'])

		{
			$item=$item+1;

?>
<li> 
<?php	
	echo $html->link( $html->image("img_acciones/".$menu['0']['imagen'], array('align'=>"absmiddle", "title"=>"Inicio del Sistema")).'&nbsp;'.$menu['0']['gnombre'] ,"#", array('escape'=>false,'rel'=>"dropmenu".$item), null);
?>
</li>
<?
		}
		$cod_grupo=$menu['0']['id'];
		$i=$i+1;
}
?>
</ul>
</div>

        
<?php 
	$i=0;
	$item=0;
	$cod_grupo=0;
	foreach ($datos_menu as $menu) {
	if ($cod_grupo!=$menu['0']['id'])
		{
			$item=$item+1;
			if ($item>1){
				echo '</div>';
			}

?>		                         
		<div id="dropmenu<?= $item;?>" class="dropmenudiv">
<?
		}

	echo $html->link( $html->image("img_horizontal/format-indent-more.png", array('align'=>"absmiddle", "title"=>"Inicio del Sistema")).'&nbsp;'.$menu['0']['fnombre'] ,"/".$menu['0']['direccion'], array('escape'=>false), null);

//		$cod_grupo=$menu['grupo']['id'];
		$cod_grupo=$menu['0']['id'];

		$i=$i+1;
}
?>
</div>

<script type="text/javascript">

cssdropdown.startchrome("chromemenu")

</script>
<br />
