div.error_message {background-color:#FFE8E8;border:1px solid red;padding:4px;margin:2px}
div#content-top {
	width: 602px;
	height: 8px;
	background: #c6d8e8 /*url(<? echo NOMBRE_WWW?>/img/ayuda/content-top600.gif) no-repeat*/;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	overflow: hidden;
}
div#content-bottom {
	width: 602px;
	height: 8px;
	background: #c6d8e8 /*url(<? echo NOMBRE_WWW?>/img/ayuda/content-top600.gif) no-repeat*/;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	overflow: hidden;
}
div#content {
	background-color: #688ba8;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 10px 0;
}
div#main-col {
	width: 602px;
	float: left;
	margin-left: 32px;
/*	display: inline;*/
	display: hide;
	text-align:justify;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
		
}
div#content div {
	padding: 5px 10px;
	border-bottom: 1px solid #c5d6e8;
}
div#content-wrapper {
	width: 585px;
	border-right: 8px solid #c5d6e8;
	border-left: 8px solid #c5d6e8;
}


/* Cabeceras */
h1 {
	font-size: 120%;
	font-weight: bold;
	color: #febb3a;
	margin: 5px 0;
}

h2 {
	font-size: 120%;
	font-weight: bold;
/*	color: #fff;
	color:#c6d8e8;*/
	color:#000000;
	margin: 5px 0;
}
/*  Texto  */
div#content div p {
	margin: 10px 0;
	color: #fff;
	line-height: 160%;
}

/* @group Links - link visited hover active */
div#content a:link, div#content a:visited {
	color: #febb3a;
	text-decoration: none;
}
div#content a:hover {
	text-decoration: underline;
}

