/* Navigation */
.nav, .nav ul { 
	list-style: none;
	margin: 0;	
	padding: 0;
	z-index: 400;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  
  position: relative;
 margin-left:30px;
}
.nav li {
  border-left: 1px solid #000;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
  font: bold 1.22em/25px Arial, Helvetica, sans-serif;
  background: #476CA1;
  color: /*#959595*/#FFFFFF;
  display: block;
  padding: 0px 9px;
  text-transform: lowercase;
  text-decoration: none;
}

.nav li a:hover {
  background: #ccc;
  color: #000;	

}
#nav-one{
 margin-left:0px;
}
#nav-one li:hover a, 
#nav-one li.sfHover a {
  background: #ccc;
  color: #000;
}
#nav-one li:hover ul a, 
#nav-one li.sfHover ul a {
  background: /*#565656*/#476CA1;
  color: /*#959595*/#FFFFFF;	
}
#nav-one li:hover ul a:hover, 
#nav-one li.sfHover ul a:hover {
  background: #ccc;
  color: #000;	
}

.nav ul {
  background: #565656;
  border-bottom: 1px solid #000;
  list-style: none;
  margin: 0;
  width: 250px;
  position: absolute;
  top: -999em;
  left: -1px;
}
.nav li:hover ul,
.nav li.sfHover ul {
  top: 25px;
}
.nav ul li {
  border: 0;
  float: none;  
}
.nav ul a {
  border: 1px solid #000;
  border-bottom: 0;
  padding-right: 20px;
  width: 230px;
  white-space: nowrap;
}
.nav ul a:hover {
  background: #ccc;
  color: #000;
}
