body {
background-color:#FFFFFF;
font-size:10pt;
font-family:Arial;
margin:0;
padding:0;
color:#000000/*476CA1*//*#FFFFFF*/;
}

img{
border:0;
}
#page {
width:800px/*900px*/;
background-image:url(images/page.png);
margin:auto;
padding:auto;
}

#header {
clear:both;
width:760px/*860*/;
height:79px/*79px*/;
background-image:url(images/header.png);
padding-top:40px;
padding-left:40px;
}

#menulinks {
clear:both;
width:775px/*875px*/;
height:39px;
padding-left:25px;
background-image:url(images/menulinks.png);
}

#menulinks a {
	padding-left:20px;
	padding-right:20px;
	padding-top:9px;
	height:29px;
   background-image:url(images/menulinks.png);
   background-position:top center;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-left:3px;
	margin-right:3px;
  }
  
#menulinks a:hover, #menulinks a.active {
	background-image:url(images/menuhover.png);
	text-decoration:none;
	color:#FFFFFF;
}

.menuline {
	background-image:url(images/menuline.png);
	height:39px;
	width:2px;
	float:left;
	display:block;
}

#mainarea {
width:760px /*860px*/;
clear:both;
padding-left:25px;

}

#contentarea {
width:685px /*585px*/;
padding-right:30px;
float:left;
line-height:14pt;
padding-bottom:10px;
}

#sidebar {
float:left;
width:415px;
line-height:14pt;
}

#footer {
width:800px /*900px*/;
clear:both;
height:63px;
padding-top:15px;
text-align:center;
line-height:14pt;
background-image:url(images/footer.png);
background-repeat:no-repeat;
background-color:#000000;
color:#FFFFFF;
}

h1 {
font-size:20pt;
color:#FFFFFF;
margin:0;
}

h2 {
font-size:12pt;
color:#FFFFFF;
padding-top:6px;
}

.description {
font-size:14pt;
color:#CCCCCC;
margin:0;
}

a {
color:#000000;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}
/*****************************Modificaciones***********************/
form fieldset {
	width:685px /*585px*/; 
	display:block; 
	border:1px solid #476CA1; 
	padding:5px; 
	font-family:verdana, sans-serif; 
	margin-bottom:0.5em; 
	line-height:1.5em; 
	color:#476CA1;
	font-weight:bold
	}

