/* 
	Chrome de la chrome table styles
	written by Chris Heilmann http://wait-till-i.com
*/

.chrome table,.chrome th,.chrome td{
	border:1px solid #666;
	border-collapse:collapse;
}
.chrome table{
	border:none;
	border-top:1px solid #000;
}
.chrome thead th{
	background:url(greychrome.gif) top left repeat-x #fff;
	padding:5px 10px;
	font-size:95%;
	text-transform:uppercase;
	color:#333;
}
.chrome tbody td,.chrome tbody th{
	font-size:90%;
/*	padding:5px 10px;*/
	padding:3px 5px;
	background:#eee;
}
.chrome tbody th{
	background:url(bluechrome.gif) top left repeat-x #fff;
	color:#333;
}
.chrome tbody tr.odd td{
	background:#ddd;
}
.chrome tbody tr.odd th{
	background:url(greenchrome.gif) top left repeat-x #fff;
	color:#333;
}
.chrome tfoot td,.chrome tfoot th{
	border:none;
	padding-top:10px;
	background:url(greychrome.gif) top left repeat-x #fff;
}
.chrome caption{
	font-family:Arial;
	text-align:left;
	text-transform:uppercase;
	font-size:90%;
	padding:5px 0;
	color:#036;
}
.chrome table a:link{
	color:#369;
}
.chrome table a:visited{
	color:#036;
}
.chrome table a:hover{
	color:#000;
	text-decoration:none;
}
.chrome table a:active{
	color:#000;
}
