/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
*/

.cuscosky table,.cuscosky th,.cuscosky td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

.cuscosky caption {
	font-size: 90%;
	font-weight: bold;
	margin: 2px;
	text-align:left;
	text-transform:uppercase;
}

.cuscosky td,.cuscosky th {
	font-size:90%;
	padding: 2px;
}

.cuscosky thead th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 100% !important;
	/*font-size: 100% !important;*/
}

.cuscosky tbody th {
	font-weight: bold;
}

.cuscosky tbody tr { background: #FCFDFE; }

.cuscosky tbody tr.odd { background: #F7F9FC; }

.cuscosky table a:link {
	color: #718ABE;
	text-decoration: none;
}

.cuscosky table a:visited {
	color: #718ABE;
	text-decoration: none;
}

.cuscosky table a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}

.cuscosky tfoot th,.cuscosky tfoot td {
	font-size: 85%;
}
