.resumen table {
	width: 650px;
	border:1px solid #000000;
	border-spacing: 0px; }

.resumen table a, #resumen table, tbody, tfoot, tr, th, td {
	font-family: Arial, Helvetica, sans-serif;
}

.resumen table caption {
	font-size: 1.8em;
	text-align: left;
	text-indent: 100px;
	background: url(bg_caption.gif) left top;
	height: 40px;
	color: #FFFFFF;
	border:1px solid #000000; }

.resumen thead th {
	background: url(bg_th.gif) left;
	height: 21px;
	color: #FFFFFF;
	/*font-size: 0.8em;*/
	font-size: 1em;
	font-family: Arial;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left; }

.resumen tbody tr {	background: #ffffff; }

.resumen tbody tr.odd {	background: #f0f0f0; }

.resumen tbody th {
	background: url(arrow_white.gif) left center no-repeat;
	background-position: 5px;
	padding-left: 40px !important; }

.resumen tbody tr.odd th {
	background: url(arrow_grey.gif) left center no-repeat;
	background-position: 5px;
	padding-left: 40px !important; }

.resumen tbody th, tbody td {
	/*font-size: 0.8em;*/
	font-size: 1em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 10px 7px;
	border-bottom: 1px solid #800000;
	text-align: left; }

.resumen tbody a {
	color: #000000;
	font-weight: bold;
	text-decoration: none; }

.resumen tbody a:hover {
	color: #ffffff;
	text-decoration: underline; }

.resumen tbody tr:hover th {
	background: #800000 url(arrow_red.gif) left center no-repeat;
	background-position: 5px;
	color: #ffffff; }

.resumen tbody tr.odd:hover th {
	background: #000000 url(arrow_black.gif) left center no-repeat;
	background-position: 5px;
	color: #ffffff; }

.resumen tbody tr:hover th a, tr.odd:hover th a	{
		 color: #ffffff; }

.resumen tbody tr:hover td, tr:hover td a, tr.odd:hover td, tr.odd:hover td a {
	background: #800000;
	color: #ffffff;	 }

.resumen tbody tr.odd:hover td, tr.odd:hover td a{
	background: #000000;
	color: #ffffff;	 }

.resumen tfoot th, tfoot td {
	background: #ffffff url(bg_footer.gif) repeat-x bottom;
	/*font-size: 0.8em;*/
	font-size: 1em;
	color: #ffffff;
	height: 21px;
	}
