<?php
	//print_r($data);
?>
<!-- /.box-header -->
<div class="box-body table-responsive no-padding">
	<h3><?php echo $titulo; ?></h3>
	<table class="table table-bordered">
		<tr>
		  <th width="7%">C&oacute;digo</th>
		  <th width="25%">Nombre</th>		  
		  <th width="25%">Telefonos</th>		  
		  <th width="30%">Estatus</th>
		</tr>
	<?php
		$suma_factura=0;$suma_factura_credito=0;$suma_factura_contado=0; $suma_iva=0; $suma_bruto=0;
		$BANCO='';$CONT=0;	
		foreach ($data as $row){		
			?>
		<tr>
		  <td><?php echo $row['Vendedore']['codvendedor'];?></td>
		  <td><?php echo $row['Vendedore']['descripcion']?></td>
		  <td><?php echo $row['Vendedore']['telefonos']?></td>
		  <td><?php 
		  if($row['Vendedore']['estatus']==1){
			echo 'Activo';
		  }else{
			 echo 'Inactivo'; 
			  }
		  
		  ?></td>	
		 </tr> 		
		<?php		
		$CONT=$CONT+1;
		}
	
		?>
<?php
if($CONT>0){
?>

 </table>
 
<?php
}else{
	echo '<div class="alert alert-info"><strong>No se Consiguieron Registro. Por Favor Seleccione otros parametros.</strong></div>';
}
?> 

	</div>
<!-- /.box-body -->
