<?php
	//echo 'Esto es Buscar Ventas';
	//print_r($data);
?>
<!-- /.box-header -->
<div class="box-body table-responsive no-padding">
	<table class="table table-bordered">
		 <caption><h2><?php echo $titulo; ?></h2></caption> 
		<tr>
		  <th width="5%">Nro</th>
		  <th width="7%">RIf</th>
		  <th width="25%">Nombre</th>
		  <th width="12%">Fecha Ingreso</th>
		  <th width="30%">Direccion</th>
		  <th width="10%">Telefono</th>		  
		  <th width="10%">Vendedor</th>		  
		</tr>
	<?php
		$suma_factura=0;$suma_factura_credito=0;$suma_factura_contado=0; $suma_iva=0; $suma_bruto=0;
		$BANCO='';$CONT=0;	
		foreach ($data as $row){		
			?>
		<tr>
		  <td><?php echo $row['Cliente']['codcliente'];?></td>
		  <td><?php echo $row['Cliente']['rif'];?></td>
		  <td><?php echo $row['Cliente']['descripcion']?></td>
		  <td><?php echo date("d-m-Y",strtotime($row['Cliente']['fechadeinicio']));?></td>
		  <td><?php echo $row['Cliente']['direccion'].'&nbsp;&nbsp;'.$row['Cliente']['direccion2']?></td>
		  <td><?php echo $row['Cliente']['telefonos']?></td>	
		  <td><?php echo $row['Vendedore']['descripcion'];?></td>
		 </tr> 		
		<?php		
		$CONT=$CONT+1;
		}
	
		?>
<?php
if($CONT>0){
?>

 </table>
 
<?php
}else{
	echo '<div class="alert alert-info"><strong>No se Consiguieron Registro. Por Favor Seleccione otros parametros.</strong></div>';
}
?> 

	</div>
<!-- /.box-body -->
