
<?php
	//echo $mensaje;
	echo $this->Html->link(__('<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Regresar'), array('action' => '/index'),array("role"=>"button", "class"=>"btn btn-info",'escape'=>false)); 	
	echo '&nbsp;&nbsp;&nbsp;';
	echo $this->Html->link( '<span class="glyphicon glyphicon-download"></span>&nbsp;Descargar' ,"/files/archivos/cuadres/".$filename, array('escape'=>false,'target'=>'_blank',"role"=>"button", "class"=>"btn btn-info"), null);	
				
?>
