/* CSS Document */

/* with :focus and :hover for fieldset, input and textarea - special effects are not visible with ie, sorry */
/* sabine brings - www.brings-online.com - a form with style - www.cssplay.co.uk */

body { margin:0; padding:0; font-size:76%;}

form#two {background:#97BDBF/*#d6d6d6*//*#4f718a*/; width:470px;  /*position: fixed;*/padding:10px; border:1px solid #eee; margin:5px auto; font-size:1em; font-family:verdana, arial, helvetica, sans-serif;color:#fff;}
form#two p {font-size:.9em; color:#fff; text-align:left; padding:15px 5px 5px 0; margin:0;}
form#two fieldset#current p {padding:4px; margin:0;}

form#two fieldset {width:450px; display:block; border:1px dotted #fff; padding:5px 5px 5px 10px; font-family:verdana, sans-serif; margin-bottom:0.5em; line-height:1.5em; font-size:1em; }
form#two fieldset:hover {border:1px solid #fff;}
form#two fieldset#opt:hover {border:1px solid #b80b38;}

form#two legend {font-size:1.1em; font-weight:bold; border-bottom:0px solid #fff; margin-bottom:10px; padding:6px; background:##d6d6d6/*none*/; color:/*#000000*/#fff;}
* html form#two legend { padding:0 0 30px 0; margin:5px 0 0 0; border:none;}

form#two label {clear:left; display:block; float:left; width:200px; text-align:left; padding-right:10px; color:/*#000000*/#fff; margin-bottom:0.5em;}

form#two div#boton input {border:0px solid #b7b5b5/*#414d59*/; padding-left:0.5em; margin-bottom:0.6em; width:150px; 

}
form#two input {border:1px solid #b7b5b5/*#414d59*/; padding-left:0.5em; margin-bottom:0.6em; width:200px; background:#FFFFFF/*#c5d3e0*/;}
form#two input:hover { background:#b80b38; border:1px solid #fff; color:#fff;}
form#two input:focus {background:#fff; border:1px solid #b80b38; color:#b80b38;}
form#two fieldset#medical input, form#two fieldset#current input {width:45px;}

form#two select {margin:0 0 1em 0.5em;}
form#two textarea {width:410px; height:15em; border:1px solid #fff; padding:0.5em; overflow:auto; background:#FFFFFF/*c5d3e0*/;}
form#two textarea:hover { background:#b80b38; border:1px solid #fff; color:#fff;}
form#two textarea:focus {background:#fff; border:1px solid #b80b38; color:#b80b38;}

form#two option {background:#fff; color:#b80b38;}
form#two optgroup {background:#fff; color:#000; font-style:normal;}
form#two optgroup option {background:#fff; color:#b80b38;}


form#two #button1, form#two #button2 {color:#fff; padding-right:0.5em; cursor:pointer; width:205px; margin-left:8px; background:#b80b38; border:1px solid; border-color:#f11f54 #5f051c #5f051c #f11f54;}
form#two #button1:hover, form#two #button2:hover {color:#fff; background:#414d59; border:1px solid; border-color:#4f718a #003 #003 #4f718a; }
/* Botones */
.boton{
/*border:1px solid #b7b5b5/*#414d59*/; padding-left:0.5em; margin-bottom:0.6em; width:200px; background:#FFFFFF/*#c5d3e0*/;
}

