<center><b><?php echo $mensaje;?></b></center>
<center>
<table border="1" cellpadding="1" cellspacing="0" width="95%" align="center" class="pure-table pure-table-horizontal">
<thead>
    <tr>
	<th>Elemento</th>        
        <th >Acciones</th>
    </tr>
</thead>	
<tbody>
    <?php $x=0;$monto_total=0;foreach ($data_enc['Esquema'] as $row): $registro = $row; ?>    
    <? $x++; ?>
	<? if($x % 2 == 0){ ?>
	<tr class="roweven">
	<? } else { ?>
	<tr>
	<? } ?>
        <td>
            <?php echo $registro['elemento_nombre']; ?>    
        </td>            
        <td align="center">
          <?php	
          $cont=$x-1;
          echo $this->Html->image("img_acciones/book_blue_delete.png", array("alt" => "Eliminar Registro", "title"=>"Eliminar Registro","onclick"=>'modificar("guardardetalles","../eliminardetalle/","Seccion-'.$registro['seccione_id'].'","valorControl='.$valorControl.'","cargandos");'));
		?>
        </td>
    </tr>
    <?php endforeach; ?>
</tbody>
<tfoot>
    <tr>
	<th colspan='3'>Total de Registros:<?php echo count($data_enc['Esquema']);?> </th>

    </tr>
</tfoot>

</table>
<br>
</center>
