<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>COMERDEPA - SISTEMA INTEGRADO DE ADMINISTRACION</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="" />
<meta name="description" content="" />
<?php echo  $this->Html->css(array('default','tabla/chrome','tabla/cuscosky'/*,'pure-form/pure-min'*/));
?>
</head>
<body>
<div id="wrapper">

  <div id="page">
    <!--<div id="page-bgtop"> -->
      <div id="content">
	<style type="text/css">
	    .message {background-color:#FFE8E8;border:1px solid red;padding:4px;margin:2px;}
	</style>
	<?php //echo $this->Flash->render(); ?>
	<?php echo $this->Session->flash(); ?>
	<?php echo $this->fetch('content'); ?>
<br />
      </div>
      <!-- end div#content -->
<!--	<br /><br /> -->
      <div style="clear: both; height: 1px"></div>
    </div>
  <!-- </div> -->
  <!-- end div#page -->
 <?php //echo $this->element('sql_dump'); ?> 
 <br><br><br>
  <div id="footer">
    <p>
    <script languaje="JavaScript">
				var mydate=new Date()
				var year=mydate.getYear()
				if (year < 1000)
				year+=1900
				var day=mydate.getDay()
				var month=mydate.getMonth()
				
				var daym=mydate.getDate()
				if (daym<10)
				daym="0"+daym
				var dayarray=new Array("Domingo, ","Lunes, ","Martes, ","Miercoles, ","Jueves, ","Viernes, ","Sabado, ")
				var montharray=new Array("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")
				document.write("ARGOS - SISTEMA DE CONTROL DE DOCUMENTOS - "+dayarray[day]+" "+daym+" de "+montharray[month]+" de "+year+"")
			</script>
		<?php
		if(isset($datos_empleado)){
			echo '<strong>EMPLEADO:<i>'.$datos_empleado.'</i></strong>';
		}
	?>
     </p>
  </div>
  <!-- end div#footer -->
</div>
<!-- end div#wrapper -->
<?php //echo $this->element('sql_dump'); ?>
</body>
</html>
