<center><b><?php echo $mensaje;?></b></center>
<table border="1" cellpadding="1" cellspacing="0" width="100%" align="center" class="pure-table pure-table-horizontal">
<thead>
    <tr>
	<th>Usuario</th>
        <th>Permiso</th>
        <th >Acciones</th>
    </tr>
</thead>	
<tbody>
    <?php $x=0;$monto_total=0;foreach ($data['Documentopermiso'] as $row): $registro = $row; ?>    
    <? $x++; ?>
	<? if($x % 2 == 0){ ?>
	<tr class="roweven">
	<? } else { ?>
	<tr>
	<? } ?>
        <td>
            <?php echo $registro['usuario']; ?>    
        </td>    
        <td>
            <?php echo $registro['permiso']; ?>    
        </td>    
        <td align="center">
          <?php	
          $cont=$x-1;
          if($registro['usuario_id']!=0){
          echo $this->Html->image("img_acciones/book_blue_delete.png", array("alt" => "Eliminar Registro", "title"=>"Eliminar Registro","onclick"=>'modificar("guardardetalle","../eliminardetalle/","'.$registro['usuario_id'].'","valorControl='.$valorControl.'");'));
		  }else{
			echo $this->Html->image("img_acciones/book_blue_delete.png", array("alt" => "Eliminar Registro", "title"=>"Eliminar Registro","onclick"=>'modificar("guardardetalle","../eliminardetalle/","'.$registro['oficina_id'].'","valorControl='.$valorControl.'");'));
		  }
		?>
        </td>
    </tr>
    <?php endforeach; ?>
</tbody>
<tfoot>
    <tr>
	<th colspan='3'>Total Usuario:<?php 	echo count($data['Documentopermiso']);
?> </th>

    </tr>
</tfoot>

</table>
