<script>tinymce.init({selector:'textarea'});</script>
<?php
	/*echo '<pre>';
	print_r($data);
	echo '</pre>';*/
	$cont=0;
	foreach ($data as $row){
	$cont=$cont+1;
	echo '<div class="pure-control-group">';
	echo $this->Form->input('Documento.'.$cont.'.seccion',array('label'=>'<strong>Secci&oacute;n '.$row['Seccione']['nombre'].':</strong>','rows' =>'10','cols'=>"39",'type'=>'textarea','div'=>false));
	echo $this->Form->input('Documento.'.$cont.'.esquema', array('type' =>'hidden','label' =>'','value'=>$row['Esquema']['id']));
	echo '</div>';	
	}
	echo $this->Form->input('Documento.totales', array('type' =>'hidden','label' =>'','value'=>$cont));
?>
