.busqueda{
background-image: url('../../img/img/titulo.jpg');
width:770px;
height:72px;
color:#000000;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.caja_find{ 
width:180px; 
height: 19px; 
background: url('../../img/busqueda/busq_fondo.png') center top repeat-x;
 border: 0px; 
padding: 1px 0 0 0; 
font:11px  Verdana, Arial, Helvetica, sans-serif; 
vertical-align: text-top;
}

.busq_izq{
background-image: url('../../img/busqueda/busq_izquierda.png');
background-repeat:no-repeat;
width:10px;
height:19px;
vertical-align: text-center;
}

.busq_der{
width:20px;
height:19px;
background-image: url('../../img/busqueda/busq_derecha.png');
background-repeat:no-repeat;
background-color:#FFFFFF;
vertical-align: text-top;
border:0;
}
