.stepcarousel{
position: relative; /*leave this value alone*/
/*border: 10px solid black;*/
overflow: scroll; /*leave this value alone*/
width: 760px; /*Width of Carousel Viewer itself*/
height: 120px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 5px; /*margin around each panel*/
width: 120px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
background:#f2f2f2;
}
