body{

background: #ffffff;
font-size:10pt;
/*font-family:Arial;*/
font-family: Arial,Helvetica,sans-serif;


}

.cuerpo{
background: #ffffff;
width:770px;
/*text-align:center;*/
position: relative;
z-index: 10;
}

img{
  border:0;
 text-decoration: none;
}
a, a:visited {
	 color:#000;	
	 text-decoration: none;
}

/* Area Principal*/
/*#page{

}*/

#mainarea{
width:770px;
text-align:justify;
}

/*Pie de Pagina*/
#footer{
color:#666666;
font-size:12px;
}

/* Menu Horizontal */
#menulinks {
clear:both;
width:770px/*875px*/;
height:39px;
padding-left:25px;
background-image:url(images/menulinks.png);
}

#menulinks a {
	padding-left:20px;
	padding-right:20px;
	padding-top:9px;
	height:29px;
   background-image:url(images/menulinks.png);
   background-position:top center;
	display:block;
	color:#000000;
	text-decoration:none;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-left:3px;
	margin-right:3px;
  }
  
#menulinks a:hover, #menulinks a.active {
	background-image:url(images/menuhover.png);
	text-decoration:none;
	color:#000000;
}

.menuline {
	background-image:url(images/menuline.png);
	height:39px;
	width:2px;
	float:left;
	display:block;
}
/* Menu  de Administracion*/
#chromemenu{
width:770px;
text-align:justify;
}
/* Formularios */
fieldset {
	width:745px /*585px*/; 
	display:block; 
	border:1px solid #476CA1; 
	padding:5px; 
	font-family:verdana, sans-serif; 
	margin-bottom:0.5em; 
	line-height:1.5em; 
	color:#476CA1;
	font-weight:bold
	}

form fieldset {
	width:745px /*585px*/; 
	display:block; 
	border:1px solid #476CA1; 
	padding:5px; 
	font-family:verdana, sans-serif; 
	margin-bottom:0.5em; 
	line-height:1.5em; 
	color:#476CA1;
	font-weight:bold
	}
