/* Hoja de estilo del Menu Izquierdo*/
.glossymenu{
margin: 5px 0;
padding: 0;
width: 220px; /*width of menu*/
border: 0px solid #9A9A9A;
border-bottom-width: 0;
}

.glossymenu a.menuitem{
background: #fff url("../../img/img/boton.jpg") no-repeat;
font: bold 14px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: white;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 4px 0;
padding-left: 15px;
text-decoration: none;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: white;

}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 5px;
right: 5px;
border: none;
}

.glossymenu a.menuitem:hover{
/*background-image: url(glossyback2.gif);*/
background-image: url("../../img/img/boton-claro.jpg");
background-color: #ffffff;
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
border-bottom: 1px solid #CCCCCC/*0066CC*/;
}

.glossymenu div.submenu ul li a{
display: block;
font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: black;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;
}

.glossymenu div.submenu ul li a:hover{
/*background: #DFDCCB;*/
background: #ffffff;
colorz: white;
}

.botones {
	font-family: Zurich Cn Bt;
	font-size: 11.5pt;
	background-image:url("../../img/img/boton.jpg");
	background-repeat:no-repeat;
	padding-left:20px;	
	padding-top:5px;
	padding-bottom:5px; text-decoration: none;
}
.bot {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11.5pt;
	color:#006699;
	background-image:url("../../img/img/b-separador.jpg");
	background-repeat:no-repeat;
	padding-left:20px;	
	padding-top:5px;
	padding-bottom:5px;
}

