 
/*Credits: By Santosh Setty (http://webdesigninfo.wordpress.com) */
/*Posted to: Dynamic Drive CSS Library (http://www.dynamicdrive.com/style/) */
#menu_borde {
	border: 1px solid #D4340C/*#666*/;
	clear: both;
	background: #FFF;
	padding-top: 0em;

}

.glossymenu{
	position: relative;
	padding: 0 0 0 10px;
/*	margin: 0 auto 0 auto;*/
	background: url(menur_bg.gif) repeat-x; /*tab background image path*/
	height: 46px;
	list-style: none;
}

.glossymenu li{
	float:left;
}

.glossymenu li a{
	float: left;
	display: block;
	color:#000;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding:0 0 0 16px; /*Padding to accomodate left tab image. Do not change*/
	height: 46px;
	line-height: 46px;
	text-align: center;
	cursor: pointer;	
}

.glossymenu li a b{
	float: left;
	display: block;
	padding: 0 24px 0 8px; /*Padding of menu items*/
}

.glossymenu li.current a, .glossymenu li a:hover{
	color: #fff;
	background: url(menur_hover_left.gif) no-repeat; /*left tab image path*/
	background-position: left;
}

.glossymenu li.current a b, .glossymenu li a:hover b{
	color: #fff;
	background: url(menur_hover_right.gif) no-repeat right top; /*right tab image path*/
} 
/* Sub tab*/
#header_tab {
	position: relative;

	height: 3em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	width: 100%;
	border-bottom: 1px solid #D4340C;
}

#header_tab ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -3px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header_tab ul#primary li  {
	display: inline;
	list-style: none;
}

#header_tab ul#primary a,#header_tab ul#primary span,#header_tab ul#primary a.current2 {
	width: 10em;
	display: block;
	float: left;
	padding: 2px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

#header_tab ul#primary span,#header_tab ul#primary a.current2,#header_tab ul#primary a.current2:hover {
	border: 1px solid #D4340C /*666*/;
	border-bottom: none;
	background: #D4340C /*FFF3B3*/;
	padding-bottom: 6px;
	margin-top: 0;
	color: #FFF;
}

#header_tab ul#primary a {
	background: #F2F2F2 /*FFFAE1*/;
	border: 1px solid #AAA;
	border-bottom: none;
}

#header_tab ul#primary a:hover {
	margin-top: 0;
	border-color: #666;
	background: #D4340C/*#FFF7CD*/;
	padding-bottom: 5px;
	color: #FFF;
	font-weight: bold;
}

#header_tab ul#secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -1.4em;
	left: 1px;
	width: 60em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header_tab ul#secondary li a,#header_tab ul#secondary li a.current2,#header_tab ul#secondary li a.current2:hover {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: auto;
	/*border: none;*/
	border: 1px;
	border-right: 1px dotted #FFF;
	background: #E8E8E7;
	color: #000
	/*background: #D4340C;*/
	
}

#header_tab ul#secondary li a,#header_tab ul#secondary li a.current3,#header_tab ul#secondary li a.current3:hover {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: auto;
	border: none;
	border-right: 1px dotted #FFF;
	color: #000;
	background: #D4340C;
	
}

#header_tab ul#secondary li a {
	/*color: #06C;*/
	text-decoration: underline;
	color: #FFF;
}

#header_tab ul#secondary li a:hover {
	text-decoration: none;
	color: #FFF;
	padding: 0 10px;
/*	background: transparent;
	padding: 0 10px;
	border: none;

	border-right: 1px dotted #AAA;*/
}

#header_tab ul#secondary li a:active {
	color: #000;
	background: transparent;
}

#header_tab ul#secondary li:last-child a { border: none; }
